*.o
*.o.d
*.mod.c
*.ko
*.itb
*.its
*.builtin
*.order
*.dtb
*.cmd
*.img
*.su
*.tmp
*.swp
*.old
built-in.a

/ubuntu/
/.rootfs/
/IMAGE/
/rockdev/

/br.log

/buildroot/output/

/device/rockchip/.BoardConfig.mk

!/device/rockchip/rockimg/*.img
!/prebuilts/**/*.*

/u-boot/.config
/u-boot/.cc
/u-boot/spl/
/u-boot/tpl/
/u-boot/fit/
/u-boot/include/config/
/u-boot/include/generated/
/u-boot/tools/common/
/u-boot/tools/lib/

/u-boot/System.map
/u-boot/tee.bin
/u-boot/bl31_*.bin

/u-boot/u-boot*
/u-boot/rk356x_spl_loader_*
/u-boot/bl31.elf

/u-boot/arch/arm/include/asm/arch
/u-boot/arch/arm/lib/asm-offsets.s
/u-boot/arch/arm/lib/lib.a
/u-boot/examples/standalone/hello_world
/u-boot/examples/standalone/hello_world.bin
/u-boot/examples/standalone/hello_world.srec
/u-boot/include/autoconf.mk
/u-boot/include/autoconf.mk.dep
/u-boot/include/config.h
/u-boot/lib/asm-offsets.s
/u-boot/scripts/basic/fixdep
/u-boot/scripts/dtc/dtc
/u-boot/scripts/dtc/dtc-lexer.lex.c
/u-boot/scripts/dtc/dtc-parser.tab.c
/u-boot/scripts/dtc/dtc-parser.tab.h
/u-boot/scripts/kconfig/conf
/u-boot/scripts/kconfig/zconf.hash.c
/u-boot/scripts/kconfig/zconf.lex.c
/u-boot/scripts/kconfig/zconf.tab.c
/u-boot/tools/bmp2gray16
/u-boot/tools/boot_merger
/u-boot/tools/checksum
/u-boot/tools/dumpimage
/u-boot/tools/fdtgrep
/u-boot/tools/gen_eth_addr
/u-boot/tools/gen_ethaddr_crc
/u-boot/tools/loaderimage
/u-boot/tools/mkenvimage
/u-boot/tools/mkimage
/u-boot/tools/proftool
/u-boot/tools/relocate-rela
/u-boot/tools/resource_tool
/u-boot/tools/trust_merger


kernel/.version
kernel/.config

kernel/include/config/
kernel/include/generated/


kernel/Module.symvers
kernel/System.map
/kernel/.missing-syscalls.d
/kernel/.tmp_*
kernel/vmlinux

kernel/arch/arm64/crypto/sha256-core.S
kernel/arch/arm64/boot/Image
kernel/arch/arm64/boot/Image.lz4
kernel/arch/arm64/include/generated/
kernel/arch/arm64/kernel/asm-offsets.s
kernel/arch/arm64/kernel/vdso/vdso.lds
kernel/arch/arm64/kernel/vdso/vdso.so
kernel/arch/arm64/kernel/vdso/vdso.so.dbg
kernel/arch/arm64/kernel/vmlinux.lds
kernel/arch/arm64/lib/lib.a
kernel/certs/x509_certificate_list

kernel/crypto/asymmetric_keys/pkcs7.asn1.c
kernel/crypto/asymmetric_keys/pkcs7.asn1.h
kernel/crypto/asymmetric_keys/x509.asn1.c
kernel/crypto/asymmetric_keys/x509.asn1.h
kernel/crypto/asymmetric_keys/x509_akid.asn1.c
kernel/crypto/asymmetric_keys/x509_akid.asn1.h
kernel/crypto/rsaprivkey.asn1.c
kernel/crypto/rsaprivkey.asn1.h
kernel/crypto/rsapubkey.asn1.c
kernel/crypto/rsapubkey.asn1.h

kernel/lib/raid6/int1.c
kernel/lib/raid6/int16.c
kernel/lib/raid6/int2.c
kernel/lib/raid6/int32.c
kernel/lib/raid6/int4.c
kernel/lib/raid6/int8.c
kernel/lib/raid6/mktables
kernel/lib/raid6/neon1.c
kernel/lib/raid6/neon2.c
kernel/lib/raid6/neon4.c
kernel/lib/raid6/neon8.c
kernel/lib/raid6/tables.c

kernel/scripts/asn1_compiler
kernel/scripts/basic/fixdep
kernel/scripts/conmakehash
kernel/scripts/dtc/dtc
kernel/scripts/dtc/dtc-lexer.lex.c
kernel/scripts/dtc/dtc-parser.tab.c
kernel/scripts/dtc/dtc-parser.tab.h
kernel/scripts/extract-cert
kernel/scripts/kallsyms
kernel/scripts/kconfig/conf
kernel/scripts/kconfig/zconf.hash.c
kernel/scripts/kconfig/zconf.lex.c
kernel/scripts/kconfig/zconf.tab.c
kernel/scripts/kconfig/.mconf-cfg
kernel/scripts/kconfig/mconf
kernel/scripts/mkkrnlimg
kernel/scripts/mod/devicetable-offsets.h
kernel/scripts/mod/devicetable-offsets.s
kernel/scripts/mod/elfconfig.h
kernel/scripts/mod/mk_elfconfig
kernel/scripts/mod/modpost
kernel/scripts/recordmcount
kernel/scripts/resource_tool
kernel/scripts/sortextable

kernel/lib/crc32table.h
kernel/lib/gen_crc32table
kernel/lib/lib.a
kernel/lib/oid_registry_data.c

kernel/scripts/bin2c
kernel/scripts/selinux/genheaders/genheaders
kernel/scripts/selinux/mdp/mdp

kernel/security/apparmor/capability_names.h
kernel/security/apparmor/net_names.h
kernel/security/apparmor/rlim_names.h
kernel/security/selinux/av_permissions.h
kernel/security/selinux/flask.h

kernel/kernel/bounds.s
kernel/kernel/config_data.gz
kernel/kernel/config_data.h

kernel/usr/.initramfs_data.cpio.d
kernel/usr/gen_init_cpio
kernel/usr/initramfs_data.cpio.gz

kernel/fs/unicode/utf8data.h
kernel/net/wireless/shipped-certs.c
kernel/usr/initramfs_data.cpio

kernel/drivers/scsi/scsi_devinfo_tbl.c
kernel/drivers/tty/vt/consolemap_deftbl.c
kernel/drivers/tty/vt/defkeymap.c
