
/ {
        vcc_camera: vcc-camera-regulator {
                compatible = "regulator-fixed";
                gpio = <&gpio1 RK_PD3 GPIO_ACTIVE_HIGH>;
                pinctrl-names = "default";
                pinctrl-0 = <&camera_pwr>;
                regulator-name = "vcc_camera";
                enable-active-high;
                regulator-always-on;
                regulator-boot-on;
        };
};

&i2c4 {
        status = "okay";
        gc2093: gc2093@37 {
                compatible = "galaxycore,gc2093";
                status = "okay";
                reg = <0x37>;
                clocks = <&cru CLK_CIF_OUT>;
                clock-names = "xvclk";
                power-domains = <&power RK3568_PD_VI>;
                pinctrl-names = "default";
                pinctrl-0 = <&cif_clk>;
                pwdn-gpios = <&gpio1 RK_PD4 GPIO_ACTIVE_HIGH>;
                reset-gpios = <&gpio1 RK_PD0 GPIO_ACTIVE_LOW>;
                //avdd-supply = <&vcc_avdd>;
                //dovdd-supply = <&vcc_dovdd>;
                //dvdd-supply = <&vcc_dvdd>;
                rockchip,camera-module-index = <0>;
                rockchip,camera-module-facing = "back";
                rockchip,camera-module-name = "YT-RV1109-2-V1";
                rockchip,camera-module-lens-name = "40IR-2MP-F20";
                port {
                        ucam_out0: endpoint {
                                remote-endpoint = <&mipi_in_ucam0>;
                                data-lanes = <1 2>;
                        };
                };
        };
	imx334: imx334@1a {
                compatible = "sony,imx334";
                status = "okay";
                reg = <0x1a>;
                clocks = <&cru CLK_CIF_OUT>;
                clock-names = "xvclk";
                // conflict with csi-ctl-gpios//
                pwdn-gpios = <&gpio1 RK_PD4 GPIO_ACTIVE_HIGH>;
                reset-gpios = <&gpio1 RK_PD0 GPIO_ACTIVE_HIGH>;
		power-domains = <&power RK3568_PD_VI>;
                pinctrl-names = "default";
                pinctrl-0 = <&cif_clk>;
                rockchip,camera-module-index = <0>;
                rockchip,camera-module-facing = "back";
                rockchip,camera-module-name = "CMK-OT1522-FG3";
                rockchip,camera-module-lens-name = "CS-P1150-IRC-8M-FAU";
				
                port {
                        ucam_out1: endpoint {
                                remote-endpoint = <&mipi_in_ucam1>;
                                data-lanes = <1 2 3 4>;
                        };
                };
        };

	imx415: imx415@1a {
                compatible = "sony,imx415";
                status = "okay";
                reg = <0x1a>;
                clocks = <&cru CLK_CIF_OUT>;
                clock-names = "xvclk";
                pwdn-gpios = <&gpio1 RK_PD4 GPIO_ACTIVE_HIGH>;
                reset-gpios = <&gpio1 RK_PD0 GPIO_ACTIVE_LOW>;
		power-domains = <&power RK3568_PD_VI>;
                pinctrl-names = "default";
                pinctrl-0 = <&cif_clk>;
                rockchip,camera-module-index = <0>;
                rockchip,camera-module-facing = "back";
                rockchip,camera-module-name = "CMK-OT1607-FV1";
                rockchip,camera-module-lens-name = "M12-40IRC-4MP-F16";
                port {
                        ucam_out2: endpoint {
                                remote-endpoint = <&mipi_in_ucam2>;
                                data-lanes = <1 2 3 4>;
                        };
                };
        };
	
};


&rkisp {
        status = "okay";
};

&rkisp_mmu {
        status = "okay";
};

&rkisp_vir0 {
        status = "okay";

        port {
                #address-cells = <1>;
                #size-cells = <0>;

                isp0_in: endpoint@0 {
                        reg = <0>;
                        remote-endpoint = <&csidphy_out>;
                };
        };
};

&csi2_dphy_hw {
        status = "okay";
};



&csi2_dphy0 {
        status = "okay";

        ports {
                #address-cells = <1>;
                #size-cells = <0>;
                port@0 {
                        reg = <0>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        mipi_in_ucam0: endpoint@0 {
                                reg = <0>;
                                remote-endpoint = <&ucam_out0>;
                                data-lanes = <1 2>;
                        };

                        mipi_in_ucam1: endpoint@1 {
                                reg = <1>;
                                remote-endpoint = <&ucam_out1>;
                                data-lanes = <1 2 3 4>;
                        };

                        mipi_in_ucam2: endpoint@2 {
                                reg = <2>;
                                remote-endpoint = <&ucam_out2>;
                                data-lanes = <1 2 3 4>;
                        };
              };
                port@1 {
                        reg = <1>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        csidphy_out: endpoint@0 {
                                reg = <0>;
                                remote-endpoint = <&isp0_in>;
                        };
                };
        };
};


&pinctrl {
        cam {
                camera_pwr: camera-pwr {
                        rockchip,pins =
                                /* camera power en */
                                <1 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
                };
        };
};
